# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL Defaul -> Se altera precisa altera .env que foi gerado para rodar local 
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/desafio?schema=public"

# Configurações de Segurança
JWT_SECRET=teste
BCRYPT_ROUNDS=12 